.main-register {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.error-message {
  height: 15px;
}

.error-message .msg {
  color: red !important;
}

.input-form, .btn-form {
  width: 425px !important;
}

@media (min-width: 1440px) {
  .main-login {
    max-width: 1440px !important;
  }
}

@media (max-width: 1440px) {
  .main-register {
    max-width: 100% !important;
  }
}

@media (max-width: 414px) {
  .main-register {
    max-width: 100% !important;
  }

  .input-form, .btn-form {
    width: 385px !important;
  }
}

@media (max-width: 320px) {
  .main-register {
    max-width: 100% !important;
  }

  .input-form, .btn-form {
    width: 300px !important;
  }
}