:root {
  --img-width: 170px;
  --img-height: 170px;
}

.home-course-img {
  width: var(--img-width) !important;
  height: var(--img-height) !important;
}

.home-course-media {
  margin-bottom: 15px;
}

.home-course-media:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(224, 217, 217);
}

.warning {
  color: #ffc107;
}

.info {
  color: #17a2b8;
}

.danger {
  color: #dc3545;
}

.w6 {
  font-weight: 600;
}